body
{
    margin: 0;
    padding: 0;
}
.papan
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    /* background-color: aqua;   */
}
input{
    height: 50px;
    width: 90px;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: larger;
}

.modal{
    position: absolute;
    width: 70vw;
    height: 70vh;
    top: 15vh;
    right: 15vw;
    color: rgb(5, 197, 5);
    border: 3px solid black;
    visibility: hidden;
}
header{
    text-align: center;
}

.reset{
    margin-top: 20px;
}